@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

.showcaseImage {
    @apply object-fill rounded shadow-sm shadow-blue-950;
}

.pageBar {
    @apply w-auto shadow-md z-50 relative shadow-black bg-cover bg-no-repeat;
    height: 10%;
}

.drewContainer {
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 5%;
    box-shadow: inset 0px 0px 0px theme(borderWidth.dmain) theme(colors.gray.200),
        var(--tw-ring-offset-shadow, 0 0 #0000), 
        var(--tw-ring-shadow, 0 0 #0000), 
        0 1px 2px 0 #000;
    @apply  flex backdrop-blur-md rounded-full items-center space-x-dmain;
}

.drew {
    width: 10%;
    aspect-ratio: 1;
}

.drewIcon {
    width: 7%;
    aspect-ratio: 1;
}

a {
    @apply text-sky-700;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 6vw;
    font-weight: 500;
    @apply text-[#ffb038];
}

h2 {
    font-size: 4.5vw;
    font-weight: 500;
    @apply text-[#000000];
}

h3 {
    font-size: 2.5vw;
    font-weight: 500;
    @apply text-[#000000];
}

p {
    font-size: 1.25vw;
}

.featureDescriptor {
    text-align: left;
    font-weight: 500;
    padding: 4.5%;
}

.videoWrapper {
    position: relative; 
    padding-bottom: 56.25%;
    padding-top: 25px;
}
.videoWrapper iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.mirrorV {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.HF {
    @apply p-dcardDetail rounded bg-white;
}