@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

.showcaseImage {
    @apply object-fill rounded shadow-sm shadow-blue-950;
}

.pageBar {
    @apply w-auto shadow-md z-50 relative shadow-black bg-cover bg-no-repeat;
    height: 10%;
}

.drewContainer {
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 5vw;
    box-shadow: inset 0px 0px 0px theme(borderWidth.dmain) theme(colors.gray.200),
        var(--tw-ring-offset-shadow, 0 0 #0000), 
        var(--tw-ring-shadow, 0 0 #0000), 
        0 1px 2px 0 #000;
    @apply  flex backdrop-blur-md rounded-full items-center space-x-dmain;
}

.drew {
    width: 10vw;
    aspect-ratio: 1;
}

.drewIcon {
    width: 7vw;
    aspect-ratio: 1;
}

a {
    @apply text-[#0000EE];
}

a:visited {
    @apply text-[#551A8B];
}

a:hover {
    text-decoration: underline;
}

.linkIcon {
    width: clamp(.6rem, 1.25vw, 1.25vw);
    @apply text-blue-950;
}


h1 {
    font-size: 6vw;
    font-weight: 500;
    @apply text-[#000];
}

h2 {
    font-size: clamp(1rem, 4.5vw, 4.5vw);
    font-weight: 500;
}

h3 {
    font-size: clamp(.8rem, 2.5vw, 2.5vw);
    font-weight: 500;
}

p {
    font-size: clamp(.6rem, 1.25vw, 1.25vw);
}

h2, h3, p {
    @apply text-gray-900;
}

.featureDescriptor {
    text-align: left;
    font-weight: 500;
    padding: 4.5%;
}

.videoWrapper {
    position: relative; 
    padding-bottom: 56.25%;
    padding-top: 25px;
}
.videoWrapper iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.mirrorV {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.HF {
    @apply p-dcardDetail rounded bg-white;
}